<?php $this->headTitle('Portfolio'); ?>

<style>
div.portfolio {
    padding: 1em;
    background-color: orange;
}
</style>
<div id="showcase" class="portfolio">
    <h1>{{ title }}</h1>

    <div class="row">
        <div id="software-items" class="col-md-6 col-sm-12">
            <h2>Software</h2>
        <?php foreach($this->software as $item) { ?>
            <p><?=$item?></p>
        <?php } ?>
        </div>

        <div id="electronics-items" class="col-md-6 col-sm-12">
            <h2>Electronics</h2>
        <?php foreach($this->electronics as $item) { ?>
            <p><?=$item?></p>
        <?php } ?>
        </div>
    </div>
</div>

<?php // Add Vue.js controller to inline scripts
$script = <<<EOT
var app = new Vue({
    el: '#showcase',
    data: {
        title: 'Welcome to my portfolio of projects'
    }
})
EOT;
$this->inlineScript()->appendScript($script); 
?>