<?php $this->headTitle('Home'); ?>

<?php if (isset($dr_quote)) : ?>
<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>
            <?=$this->dr_quote?>
        </h1>
    </div>
</aside>
<?php endif; ?>

